.roulette-wrapper {
    display: flex;
    justify-content: center;
}

.winner-slot-color {
    font-family: sans-serif;
    font-size: 32px;
}

.winner-slot-red {
    color: rgb(216, 17, 17);
}

.winner-slot-black {
    color: rgb(0, 0, 0);
}